<!DOCTYPE html>
<html>
	<head>
	  <title>G4</title>
	  <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<h1>Twittear</h1>
      <%= form_tag 'social' do -%>
        <div><%= text_field_tag 'twit' %>
        <%= submit_tag 'Twitea' %></div>
      <% end -%>
      <!-- <%= button_to "Twittear", {params: {twit: "herma"}, action: "twittear"} %> -->
		</header>
  </body>
<html>
