<h3 class="dashTitle">Listado de almacenes</h3>
<% for aux in @almacenes do %>
  <div class="container-fluid almacen row">
      <div class="col-md-8">
        <% if aux['recepcion'] then %>
          <h5><strong>Almacen de Recepcion:</strong></h5>
        <% elsif aux['pulmon'] then%>
          <h5><strong>Almacen Pulmon:</strong></h5>
        <% elsif aux['despacho'] then%>
          <h5><strong>Almacen de Despacho:</strong></h5>
        <% else %>
          <h5><strong>Almacen:</strong></h5>
        <% end%>
        <h5><%= aux['_id'] %></h5>
        <strong><p>
          Espacio Usado:
        </p></strong>
        <p>
          <%= aux['usedSpace'] %>
          /
          <%= aux['totalSpace'] %>
        </p>
      </div>
      <div class="col-md-4">
        <%= pie_chart ({"Utilizado" => Integer(aux['usedSpace']), "Libre" => (Integer(aux['totalSpace'])-Integer(aux['usedSpace']))}), donut: true, height:"200px", colors:["#aaa","#555"] %>
      </div>
  </div>
<%end %>
<h3 class="dashTitle">Listado de productos </h3>
<%= column_chart @row_data, stacked: true, colors:["#aaa"] %>
<%for aux in @productos.keys do %>
  <div class="container-fluid">
    <p>
      <strong><%= @prod_names[aux]%> (SKU <%=aux%>): </strong><%=@productos[aux]%> unidades
    </p>
  </div>
<%end%>

<h3 class="dashTitle">Ordenes de fabricacion (ultimas 20)</h3>
<% if @orders.count > 0 then%>
  <% for order in @orders do %>
    <div class="prodContainer">
      <p>
        <strong>SKU:<%= order.sku %></strong>
        Produccion de <%= order.cantidad %> unidades
      </p>
    </div>
  <% end %>
<% else %>
 <div class="prodContainer">
   <h6>No se han registado ordenes de fabricacion</h6>
 </div>
<% end %>

<h3 class="dashTitle">Transacciones finalizadas</h3>
<% if @completed.count > 0 then%>
  <% for order in @completed do %>
    <div class="prodContainer">
      <p>
        <strong>Unidades: </strong><%= order.item_count %>
        <strong>Valor: </strong> CLP$<%= order.total %> unidades
      </p>
    </div>
  <% end %>
<% else %>
 <div class="prodContainer">
   <h6>No se han registado transacciones completas</h6>
 </div>
<% end %>


<h3 class="dashTitle">Transacciones no completadas</h3>
<% if @uncompleted.count > 0 then%>
  <% for order in @uncompleted do %>
    <div class="prodContainer">
      <p>
        <strong>Unidades: </strong><%= order.item_count %>
        <strong>Valor: </strong>  CLP$<%= order.total %>
      </p>
    </div>
  <% end %>
 <% else %>
  <div class="prodContainer">
    <h6>No se han registado transacciones incompletas</h6>
  </div>
 <% end %>

<h3 class="dashTitle">Ordenes solicitadas via FTP</h3>
<div class="prodContainer">
  <%= pie_chart ({"Aceptadas" => Integer(@queue.count), "No aceptadas" => (Integer(@ftp_requested.count))}), donut: true, height:"200px", colors:["#aaa","#555"] %>
</div>
<% if @ftp_requested.count > 0 then%>
  <% for order in @ftp_requested do %>
    <% if @ftp_status[order[:id].to_s]=="aceptada" then %>
      <div class="prodContainerAccepted">
        <p>
          <strong>SKU: </strong><%=order[:sku]%>
          <strong>Unidades: </strong><%= order[:qty] %>
          <strong>Estado: </strong><%= @ftp_status[order[:id].to_s] %>
        </p>
      </div>
    <% elsif @ftp_status[order[:id].to_s]=="rechazada" then %>
      <div class="prodContainerRejected">
        <p>
          <strong>SKU: </strong><%=order[:sku]%>
          <strong>Unidades: </strong><%= order[:qty] %>
          <strong>Estado: </strong><%= @ftp_status[order[:id].to_s] %>
        </p>
      </div>
    <% elsif @ftp_status[order[:id].to_s]=="creada" %>
      <div class="prodContainer">
        <p>
          <strong>SKU: </strong><%=order[:sku]%>
          <strong>Unidades: </strong><%= order[:qty] %>
          <strong>Estado: </strong><%= @ftp_status[order[:id].to_s] %>
        </p>
      </div>
    <% end %>
  <% end %>
 <% else %>
  <div class="prodContainer">
    <h6>No se han registado solicitudes</h6>
  </div>
 <% end %>
