<h1>Sistema de pago del grupo 4</h1>

<h3>Está siendo rediriccionado a la página de pago</h3>

<a class="btn btn-danger" href="/store/cart">Cancelar</a>


<a class="btn btn-success" href=<%=@url%>>Continuar</a>

<%#<% @order.each do |item| %>
<%# id = <%= item[1][:id]%> <br>
<%# quantity = <%= item[1][:quantity]%> <br>
<%#<% end %> <br>
<%#592dfd80b0cb21000497566d<br>
<%#<%=@url%>
<%#<br>
<%#Precio total = <%=@precio%>

